/* --- RESET I BAZA --- */
:root {
    --neon-cyan: #00F0FF;
    --bg-dark: #050a10;
    --glass-bg: rgba(2, 6, 12, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* --- KONTENER GŁÓWNY --- */
.center-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

/* --- RAMKA TYTUŁOWA --- */
.title-box {
    border: 2px solid var(--neon-cyan);
    background: var(--glass-bg);
    box-shadow: 0 0 40px rgba(0, 240, 255, 0.2);
    padding: 45px 85px;
    margin-bottom: 70px;
    text-align: center;
    backdrop-filter: blur(5px);
    min-width: 620px;
}

.title-box h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 900;
    font-size: 4.2rem;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 30px var(--neon-cyan);
    line-height: 1;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.title-box p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1rem;             /* Powiększone */
    letter-spacing: